<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <style>
        body {font-family: Arial, sans-serif;line-height: 1.6;max-width: 600px;margin: 0 auto;padding: 20px;background-color: #f8f8f8;}
        h3 {color: #333;}
        p {color: #555;}
        a {display: inline-block;background-color: #007bff;color: #fff;text-decoration: none;padding: 10px 20px;border-radius: 5px;}
        a:hover {background-color: #0056b3;}
        .footer {margin-top: 30px;color: #888;}
    </style>
</head>
    <body>
        <h3>Hello,<span th:text="${clientName}"/></h3>
        <p>We received a request to reset your password. If you did not initiate this request, you can ignore this email.</p>
        <p>If you would like to reset your password, please click on the link below:</p>

        <p>
            <a th:href="${resetLink}">Reset Password</a>
        </p>

        <p>If the above link doesn't work, you can copy and paste the following URL into your browser:</p>
        <p th:text="${resetLink}">Reset Password Link</p>

        <p>If you have any questions or need further assistance, please contact our support team.</p>

        <p class="footer">Best regards,</p><br><p th:text="${shopName}"/>
    </body>
</html>