<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Repair Initiated</title>
</head>
<body>
<h2>Repair Initiated</h2>
<p>Hello <span th:text="${ticket.client.fullName}"></span>,</p>

<p>We want to inform you that a repair has been initiated for your device. Here are the details:</p>

<ul>
    <li><strong>Ticket ID:</strong> <span th:text="${ticket.id}"></span></li>
    <li><strong>Device Model:</strong> <span th:text="${ticket.deviceModelString}"></span></li>
    <li><strong>Device Brand:</strong> <span th:text="${ticket.deviceBrandString}"></span></li>
    <li><strong>Device Location:</strong> <span th:text="${ticket.deviceLocationString}"></span></li>
    <li><strong>Problem Explanation:</strong> <span th:text="${ticket.deviceProblemExplanation}"></span></li>
    <li><strong>Device Condition:</strong> <span th:text="${ticket.deviceCondition}"></span></li>
    <li><strong>Serial Number or IMEI:</strong> <span th:text="${ticket.serialNumberOrImei}"></span></li>
    <li><strong>Accessories:</strong> <span th:text="${ticket.accessories}"></span></li>
    <li><strong>Deadline:</strong> <span th:text="${deadline}"></span></li>
    <li><strong>Total Price:</strong> <span th:text="${ticket.totalPrice}"></span></li>
    <li><strong>Deposit:</strong> <span th:text="${ticket.deposit}"></span></li>
</ul>

<p>Our team is working on your device and will keep you updated on its status. If you have any questions, feel free to contact us.</p>

<p>Thank you for choosing our repair services!</p>

<p>Best regards,<br>
    <span th:text="${ticket.shop.shopName}"/></p>

</body>
</html>