<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Repair Completed</title>
    <style>
        .details {
            font-weight: bold;
        }

        .price {
            color: #008CBA;
        }
    </style>
</head>
<body>
<h2>Repair Completed</h2>
<p>Hello <span th:text="${ticket.client.fullName}"></span>,</p>

<p>We are pleased to inform you that the repair of your device is now complete! Here are the details:</p>

<ul>
    <li><strong>Ticket ID:</strong> <span th:text="${ticket.id}"></span></li>
    <li><strong>Device Model:</strong> <span th:text="${ticket.deviceModelString}"></span></li>
    <li><strong>Device Brand:</strong> <span th:text="${ticket.deviceBrandString}"></span></li>
    <li><strong>Device Location:</strong> <span th:text="${ticket.deviceLocationString}"></span></li>
    <li><strong>Problem Explanation:</strong> <span th:text="${ticket.deviceProblemExplanation}"></span></li>
    <li><strong>Device Condition:</strong> <span th:text="${ticket.deviceCondition}"></span></li>
    <li><strong>Serial Number or IMEI:</strong> <span th:text="${ticket.serialNumberOrImei}"></span></li>
    <li><strong>Accessories:</strong> <span th:text="${ticket.accessories}"></span></li>
    <li><strong>Deadline:</strong> <span th:text="${deadline}"></span></li>
    <li><strong>Notes:</strong> <span th:text="${ticket.notes}"></span></li>
</ul>

<p>Your device is now ready for pickup or delivery. Please visit our shop at <strong><span
        th:text="${ticket.shop.address}"></span></strong> during our business hours to collect your device. If you
    prefer delivery, please contact us to arrange the details.</p>

<p>If you have any questions or need further assistance, feel free to reach out to us. We look forward to seeing you
    soon!</p>

<p class="details">Total Price: <span class="price" th:text="${ticket.totalPrice}"></span></p>
<p class="details">Deposit Paid: <span class="price" th:text="${ticket.deposit}"></span></p>

<p>Best regards,<br>
    <span th:text="${ticket.shop.shopName}"></span></p>

</body>
</html>